/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*Importado 2014*/

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f7f7f7;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body.home {
  background-color: #ceecf4;
}

p { margin: 1em 0; }

a         { color: #006fbd; }
a:hover   { color: #00b4f2; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*MAPA PAISES*/

.map {
  background: url(../img/map.png) no-repeat;
  height: 918px;
  width: 100%;
  margin: -10px 0;
  position: relative;
}

.map .col-md-5 {
  text-align: right;
  margin-top: 30px;
  font-size: 16px;
}

.map li {
  list-style: none;
}

.map .porcentaje {
  position: relative;
  font-size: 28px;
  width: 90px;
  padding: 29px 23px;
  color: #fff;
}

.map a {
  font-size: 18px;
  text-decoration: none;
}

a.mexico {
  position: absolute;
  left: 10px;
  top: 60px;
}

a.mexico .porcentaje {
  background: url(../img/37.png);
}

a.guatemala {
  position: absolute;
  left: 70px;
  top: 136px;
}

a.guatemala .porcentaje {
  background: url(../img/46.png);
}

a.colombia {
  position: absolute;
  left: 250px;
  top: 180px;
}

a.colombia .porcentaje {
  background: url(../img/38.png);
}

a.venezuela {
  position: absolute;
  left: 440px;
  top: 130px;
}

a.venezuela .porcentaje {
  background: url(../img/21.png) no-repeat;
}

a.ecuador {
  position: absolute;
  left: 190px;
  top: 270px;
}

a.ecuador .porcentaje {
  background: url(../img/49.png);
}

a.peru {
  position: absolute;
  left: 270px;
  top: 370px;
}

a.peru .porcentaje {
  background: url(../img/55.png);
}

a.bolivia {
  position: absolute;
  left: 470px;
  top: 390px;
}

a.bolivia .porcentaje {
  background: url(../img/25.png) no-repeat;
}

a.chile {
  position: absolute;
  left: 310px;
  top: 600px;
}

a.chile .porcentaje {
  background: url(../img/53.png);
}

a.argentina {
  position: absolute;
  left: 460px;
  top: 680px;
}

a.argentina .porcentaje {
  background: url(../img/36.png) no-repeat;
}

a.uruguay {
  position: absolute;
  left: 591px;
  top: 614px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 80%;
  margin: 3em auto 2em;
  line-height: 1.5em;
  max-width: 1000px;
}

.header {
  text-align: left;
  margin: 10px auto;
  background: #333;
  border-radius: 6px;
  position: relative;
}

.header h1 {
  font-size: 18px;
  float: left;
  padding: 15px 12px;
  margin: 0;
}

.header a {
  font-weight: 400;
  text-decoration: none;
  color: #8F8F8F;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title a {
  color: #FFF;
  font-weight: 600;
}

.title a:hover {
  color: #DADADA;
}

.meta {
  color: #aaa;
}

.footer {
  margin-top: 2em;
  overflow: hidden;
  background: #333;
  padding: 20px;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*NAV*/

.nav-tabs {
  float: right;
  border: none;
}

.nav>li>a {
  padding: 14px 10px;
}

.nav-tabs>li>a {
  border-radius: 0;
  border-right: none;
  border-left: 1px solid rgb(34, 34, 34);
  border-top: none;
  border-bottom: none;
  margin-right: 0px;
}

.nav-tabs>li:last-child>a {
  border-radius: 0 6px 6px 0;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: rgba(37, 37, 37, 1);
  border-color: rgb(31, 31, 31);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #222;
  border-color: #1D1D1D;
}

/*MAPA*/

iframe #share-overlay {
  display: none!important;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*TABLAS*/

.table>thead>tr>th {
  vertical-align: top;
}

.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger, .table>thead>tr>th.danger, .table>tbody>tr>th.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>tbody>tr.danger>td, .table>tfoot>tr.danger>td, .table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th {
  background-color: transparent;
  color: #8ac733;
}

.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
  background-color: transparent;
  color: #00a64b;
}

.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
  background-color: transparent;
  color: #006fbd;
}

.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
  background-color: transparent;
  color: #00b4f2;
}

table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

table.tablesorter tbody tr.odd td {
  /*background-color:#F0F0F6;*/
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
/*background-color: #8dbdd8;*/
}


